* {
    margin: 0%;
    padding: 1%;
    box-sizing: border-box;
    /*para mover el modelo de caja*/
}

.Registrate {
    color: slateblue;
}

.containerInicio, .containerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAECEE;
}

.homePage, .header_post, .iconos, .icons_iteration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.insertarPublicacion {
    padding: 1rem;
    background-color: #EAECEE;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.inputInsertarPublicacion {
    height: 6rem;
    width: 13rem;
    background-color: aliceblue;
    padding: 1rem;
}

.header_post .title_post, .insert_coment {
    width: 80%;
}

.content_post {
    height: 5rem;
}

.header_post, .container_post, .iconos {
    border: 1px solid;
}

.fotoPerfil {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
}

.photo_perfil, .fotoPerfil {
    background-color: black;
    border-radius: 50%;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
}