@import url('https://fonts.googleapis.com/css2?family=Festive&family=Redressed&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /*para mover el modelo de caja*/
}

body {
    height: 100%;
    width: 100%;
    background: #C8EBF2;
}

/***Estilos header y footer***/
.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.inicio, .perfil_footer, .perfil_search {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.perfil_footer, .perfil_search {
    margin-right: 1rem;
}

.perfil, #photoURL {
    width: 4rem;
    height: 4rem;
}


.perfil, #photoURL, .photo_perfil, .photo_public {
    border-radius: 50%;
}

.photo_public {
    width: 2.5rem;
    height: 2.5rem;
}

.cerrarSesion {
    margin-right: 10px;
    width: 1.5rem;
    height: 1.5rem
}

.glowApp {
    font-family: Festive;
    font-size: 2.8rem;
    color: #2A3F88;
    margin-right: 1rem;
}

.footer, .header, .headerSimple {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2E2CE;
}

.headerSimple {
    justify-content: space-evenly !important
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3rem;
}

/****Estilos al Buscador****/
.form_search {
    margin-left: 20%;
    margin-top: 2%;
}

.search, .form_search {
    padding: 3%;
    border-radius: 6px;
    border: 0;
}

ul {
    margin-left: 10%;
    margin-top: 5%;
}

/****Estilos al login****/
.title_version {
    font-size: 1.875rem;
    font-family: Redressed;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

.glowApp2 {
    font-family: Festive;
    font-size: 2.8rem;
    color: #2A3F88;
    margin-right: 1rem;
    text-align: center;
}

.logo2 {
    width: 3rem;
    height: 3rem;
}

.login {
    text-align: center;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs2 {
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.typeEmail1, .typePass {
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.styleEmail1, .stylepass {
    border-radius: 3rem;
    border: 0;
    margin: 0.313rem;
    padding: 0.313rem;
    width: 70%;
}

.styleEmail1 {
    background-image: url(../src/img/email.png);
}

.stylepass {
    background-image: url(../src/img/candado.png);
}

.styleEmail1, .stylepass {
    background-position: 12.25rem;
    background-repeat: no-repeat;
}

.btn2, .btn-publicar {
    width: 40% !important;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    color: white;
    background-color: #D9AA71;
    border: 1px solid #645e55;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn-publicar {
    background-color: white !important;
    color: black !important;
}

.btn2:hover {
    content: "";
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    transition: transform 0.5s ease;
}

.btn-publicar:hover {
    content: "";
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    transition: transform 0.5s ease;
    color: white;
}


.btn-google {
    width: 1.975rem;
    height: 1.8rem;
}

.btn-github {
    width: 2.475rem;
    height: 2.475rem;
}

.iconos_sesion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.everified {
    font-size: 14px;
    justify-content: center;
    padding-bottom: 10px;
    color: red;
}

.enter, .link {
    font-weight: lighter;
    padding-bottom: 15px;
    color: #7b8586;
}

/****Estilos al Registro de Usuario****/
.title_register, .title-profile {
    font-family: Redressed;
    text-align: center;
    padding-bottom: 1rem;
}

.imagenFondo {
    width: 100%;
    height: 100%;
}

.typeText, .typeEmail, .typePassword {
    border-radius: 6px;
    border: 0;
    margin: 5px;
    padding: 5px;
    width: 70%;
}

.typeEmail {
    background-image: url(../src/img/email.png);
}

.typePassword {
    background-image: url(../src/img/candado.png);
}

.typeEmail, .typePassword, .formularioIncorrecto, .formularioCorrecto {
    background-position: 12.25rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

.signUp {
    text-align: center;
}

.error-message, .error-message-input {
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 10px;
    color: red;
}

.textPrivacidad, .link_login {
    font-weight: lighter;
    padding-bottom: 15px;
    color: #7b8586;
}

.btn_register, .modal-btn {
    width: 40% !important;
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 15px;
    color: white;
    background-color: #D9AA71;
    border: 1px solid #645e55;
}

.btn_register:hover {
    content: "";
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    transition: transform 0.5s ease;
}

/****Estilos a los input del registros ****/
.formularioIncorrecto {
    border: 4px solid #e62a2a;
    background-image: url(../src/img/rechazado.png);
}

.formularioCorrecto {
    border: 4px solid #1ed12d;
    background-image: url(../src/img/correcto.png);
}

.formularioIncorrecto, .formularioCorrecto {
    background-position: 12rem !important
}

.error-message-input {
    display: none;
}

.activo {
    display: block;
}

.inactivo {
    display: none;
}

/****Estilos al modal de Registro de Usuario****/
.modal-content {
    background: #769597;
    position: absolute;
    top: 45%;
    height: 30%;
    width: 60%;
    left: 20%;
    border-radius: 10px;
}

.modal-btn {
    position: absolute;
    height: 20%;
    left: 30%;
    top: 70%;
}

#message {
    text-align: center;
    padding: 4%;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/****Estilos al Perfil de Usuario****/
.article-home {
    display: column;
}

.userProfile {
    display: flex;
    padding: 10px 0 0 10px;
}

.title-profile {
    padding-top: 5px;
    font-size: 18px;
}

.descriptionPerfil {
    padding-left: 3rem;
}

.btn-editProfile {
    font-family: 'Times New Roman', Times, serif;
    width: 81%;
    margin: 2% 10%;
    border: none;
    background: white;
    height: 1.2rem;
    border-radius: 10px;
}

.btn-editProfile:hover {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    transition: transform 0.5s ease;
}

.nameRegister, .description, .interests, .form-description, .form-interests {
    border: none;
    margin-bottom: 2%;
}

.emailRegister {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
    color: gray;
}

.presentacion {
    font-family: Redressed;
    font-size: 18px;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    color: #3d4242;
}

.form-description, .form-interests {
    width: 70%;
    height: 4rem;
    border-radius: 10px;
    padding: 10px;
}

.modal-editProfile {
    background-color: #769597;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/****Estilos al home****/
.homePage, .header_post, .iconos, .icons_iteration {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.header_post {
    background-color: #F2E2CE;
    margin-top: 0px !important;
    border-radius: 10px;
}

.userName, .nameRegister {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.insertarPublicacion {
    padding: 1rem;
    background-color: #D9AA71;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    width: 70%;
    margin-bottom: 10px;
}

.inputInsertarPublicacion {
    height: 6rem;
    width: 12rem;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 1rem;
}

.header_post .title_post {
    width: 100%;
}

.insert_coment {
    width: 80%;
    height: 2rem;
    border: none;
    font-style: italic;
    margin-left: 5px;
}

.btn-comentar {
    border: none;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    background-color: white;
    color: rgb(85, 177, 219);
}

.title {
    font-size: 15px;
    padding: 5px;
}

.date_hour {
    font-size: 12px;
    color: rgb(141, 141, 158);
    text-align: center;
}

.content_post {
    height: 5rem;
    text-align: justify;
}

.iconos {
    background-color: #D9AA71;
}

.container_post {
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 5%;
}


.fotoPerfil {
    height: 6rem;
    width: 6rem;
    text-align: center;
}

.paint {
    /*background-image: url(./img/heart.png);*/
    background-color: red;
    width: 1.4rem;
}

.mark_like {
    background-image: url(./img/like.png);
    width: 1.4rem;
}